@font-face {
    font-family: "Phantom of The Opera";
    src: url('../fontes/phantom_of_the_opera_font_by_cassieloliviari_dcbbm0.ttf');
}

                                            /*===ELEMENTOS BASE===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(4, 1, 17, 0.6),rgb(2, 0, 15)100%), url('../img/wallpaperflare.com_wallpaper.jpg');
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}


.botao {
    background-color: transparent;
    border: 1.5px solid rgb(232, 228, 214);
    padding: 10px 25px;
    color: rgb(232, 228, 214);
    letter-spacing: 0.5px;
    margin: 15px 0;

    transition: 0.3s ease-in-out;
}

.botao:hover {
    background-color: rgb(232, 228, 214);
    color: black;
}

                                                /*===HEADER===*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -35px;
    margin-right: 60px;
    font-weight: 400;
}

header .logo {
    width: 200px;
}

header .item {
    color: rgb(232, 228, 214);
    margin: 0px 15px;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in-out;
}

header .item:hover {
    color: rgb(179, 175, 161);
}

header .botao:hover {
    background-color: rgb(232, 228, 214);
    color: black;
}

                                                    /*===MAIN===*/
main {
    display: flex;
    color: rgb(232, 228, 214);
}              

main .container {
    margin-top: 80px;
    margin-left: 75px;
    width: 50%;
}

main .apresenta {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 7px;
}

main .apresenta .apr {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 17px;
}

main .peça {
    font-family: "Phantom of the Opera";
    margin-top: 40px;
    font-size: 70px;
}

main .texto {
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 35px;
}

                                            /*===MAIN: INFO ====*/
main .info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 450px;
    margin-left: 440px;
}

main .info-box .txt {
    border: 1px solid rgb(232, 228, 214);
    padding: 10px 25px;
    margin-bottom: 10px;
}

main .info-box .txt .item {
    font-style: italic;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
}